*.class

# Package Files #
*.war
*.ear

# netbeans
/nbproject

# various other potential build files
/build
/bin
/dist
/manifest.mf
/lib/CopyLibs/
/lib/nblibraries.properties
/build.xml
