*.class

# Package Files #
*.war
*.ear

# netbeans
/nbproject

# various other potential build files
/build
/bin
/dist
/manifest.mf
/lib/CopyLibs/
/lib/js.jar
/lib/mysql_comp.jar
/lib/nblibraries.properties
/lib/servlet.jar
/lib/org.mortbay.jetty.jar
/build.xml